@model IEnumerable<taka.Models.DatabaseInteractive.BillItem>

@{
    ViewBag.Title = "Teader";
    List<taka.Models.Enitities.ADDRESS> listAddress = ViewBag.addresses;
    ViewBag.MessageForValid = "Vui lòng nhập đủ thông tin";
}
<header>
    <style>
        .dropdown-item:active {
            border: 0px !important;
        }
    </style>
</header>
<!--Section: Block Content-->
<section>

    <!--Grid row-->
    <form class="row" action="/User/CheckOut" method="post">

        <!--Grid column-->
        <div class="col-lg-8 mb-4">

            <!-- Card -->
            <div class="card wish-list pb-1">
                <div class="card-body">

                    <h5 class="mb-2">HÓA ĐƠN</h5>



                    <!-- Address Chosing -->
                    <div class="d-flex flex-wrap card md-form md-outline mb-0 mb-lg-4">
                        <div class="dropdown card-body">
                            <input class="btn btn-light dropdown-toggle addressPicker" type="button" name="addressPicker" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                @foreach (var item in listAddress)
                                {
                                    <a class="btn dropdown-item address_dropdown btn-light" id="address_@item.ID" onclick="changeAddress('@item.ADDRESS1'); changePhone('@item.PHONE'); changeName('@item.NAME'); changeIDAdress('@item.ID');">@item.ADDRESS1</a>
                                }
                                <a class="dropdown-item btn btn-light address_other" id="" onclick="changeAddress('Khác'); changeIDAdress('-1');">Khác</a>
                            </div>
                            <div class="text-right">
                                <h5 class="client-name"></h5>
                                <h6 class="client-phone"></h6>
                            </div>
                        </div>
                    </div>
                    <!--Name-->
                    <div class="md-form md-outline mb-0 mb-lg-4 other-contact-info">
                        <div class="md-form md-outline">
                            <input type="text" id="" placeholder="Họ Tên"
                                   class="form-control input-name" name="fullName">
                        </div>
                    </div>
                    <!--Address-->
                    <div class="md-form md-outline mb-0 mb-lg-4 other-contact-info">
                        <div class="md-form md-outline">
                            <input type="text" id="" placeholder="Số nhà, Đường, Phường/Xã, Quận/Huyện, Tỉnh/Thành Phố"
                                   class="form-control input-address" name="address">
                        </div>
                    </div>
                    <input name="id_address" class="id_address" hidden />

                    <!-- Phone -->
                    <div class="md-form md-outline mb-0 mb-lg-4 other-contact-info">
                        <div class="md-form md-outline">
                            <input type="number" name="phone" id="" class="form-control input-phone" placeholder="Số điện thoại">
                        </div>
                    </div>
                    <!-- Shipper -->
                    <div class="d-flex flex-wrap card md-form md-outline mb-0 mb-lg-4">
                        <div class="dropdown card-body">
                            <input class="btn btn-light dropdown-toggle shipper" type="button" id="shipperDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                            <input class="shipper" id="shippingComp" name="shipper" hidden />
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item btn btn-light" onclick="changeShipper('shipper1')">Giao hàng nhanh</a>
                                <a class="dropdown-item btn btn-light" onclick="changeShipper('shipper2')">Giao hàng tiết kiệm</a>
                                <a class="dropdown-item btn btn-light" onclick="changeShipper('shipper3')">Viettel Post</a>
                            </div>
                            <p class="text-right" id="estimateTime"></p>
                        </div>
                    </div>
                    <!-- Notes -->
                    <div class="md-form md-outline mb-0 mb-lg-4">
                        <div class="md-form md-outline">
                            <input id="input-note" type="text" style="height:50px;" class="md-textarea form-control" name="message" placeholder="Lời nhắn tới người bán" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card -->

        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-4">
            @*Your Cart*@
            <div class="mb-3">
                <div class="pt-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Đơn hàng</span>
                        <span class="badge badge-secondary badge-pill" style="background-color:#00B38F;">@Model.Count()</span>
                    </h4>
                    <ul class="list-group mb-3">
                        @foreach (var item in Model)
                        {
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0">@item.teaName</h6>
                                    <small class="text-muted">Số lượng: @item.amount</small>
                                </div>
                                <span class="text-muted">@String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0}", item.price * item.amount) VND</span>
                            </li>
                        }

                        <li class="list-group-item d-flex justify-content-between bg-light">
                            <div class="text-success">
                                <h6 class="my-0">Phí vận chuyển</h6>
                                <small class="shipper"></small>
                            </div>
                            <span class="text-success shipFee">-$5</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <strong style="color:#00B38F;">Tổng tiền</strong>


                            <input type="text" style="color:#00B38F; border:none; background-color:white;" class="totalSum text-right font-weight-bold" disabled="disabled" />
                            <input class="totalPrice" name="totalPrice" hidden />
                        </li>
                    </ul>
                    <button type="submit" style="background-color:#00B38F;color:white" class="btn btn-light btn-block">Mua ngay</button>
                </div>
            </div>
            @*End Your Cart*@
            <hr />
            @foreach (var item in Model)
            {
                <input hidden class="id_cart" name="id_cart" value="@item.id" />

            }

        </div>

        <!--Grid column-->

    </form>
    <!--Grid row-->

    @foreach (var item in Model)
    {

        <div hidden class="amount">
            @item.price
        </div>
        <div hidden class="quantity">
            @item.amount
        </div>
    }

</section>
<!--Section: Block Content-->
<script>
    let changeTotalAmount = () => {
        let sum = 0;
        let shipFee = $('.shipFee').text().replace('.', '').replace('VND', '').trim();
        for (let i = 0; i < $('.amount').length; i++) {
            let price = $('.amount')[i].textContent;
            let quantity = $('.quantity')[i].textContent;
            sum += price * quantity;
        }
        $('.totalSum').val((parseInt(sum) + parseInt(shipFee)).toLocaleString('it-IT', { style: 'currency', currency: 'VND' }))
        $('.totalPrice').val(sum);
    }


    let changeShipper = (id) => {
        let shipper = 'Giao hàng nhanh';
        let shipFee = 40000;
        if (id == 'shipper2') {
            shipper = 'Giao hàng tiết kiệm';
            shipFee = 15000;
        }
        if (id == 'shipper3') {
            shipper = 'Viettel Post';
            shipFee = 30000;
        }
        $('.shipper').text(shipper);
        $('#shippingComp').val(shipper);
        $('.shipper.btn').val(shipper);
        $('.shipFee').text(shipFee.toLocaleString('it-IT', { style: 'currency', currency: 'VND' }))
        changeEstimate(id);
    }

    let changeEstimate = (id) => {
        let estimateTime = ' 2 - 3 ngày';
        if (id == 'shipper2') {
            estimateTime = ' 4 - 6 ngày';
        }
        if (id == 'shipper3') {
            estimateTime = ' 2 - 5 ngày';
        }
        $('#estimateTime').text('Thời gian dự kiến:' + estimateTime);
        changeTotalAmount();
    }

    let changeAddress = (text) => {
        $('.addressPicker').val(text);
        $('.input-address').val(text);
        if (text == 'Khác') {
            $('.other-contact-info').show('fast');
            $('.client-name,.client-phone').text('');
            $('.input-address,.input-name,.input-phone').val('')
            $('.input-address,.input-phone,.input-name').attr('required', 'required');
            $('.input-address,.input-phone,.input-name').attr('oninvalid', "this.setCustomValidity('Vui lòng nhập đủ thông tin!')");
            $('.input-address,.input-phone,.input-name').attr('oninput', "PHONEetCustomValidity('')");
        }
        else {
            $('.other-contact-info').hide('fast');
        }
    }

    let changePhone = (phone) => {
        $('.client-phone').text(phone);
        $('.input-phone').val(phone);
    }

    let changeName = (name) => {
        $('.client-name').text(name);
        $('.input-name').val(name);
    }

    let changeIDAdress = (id) => {
        $('.id_address').val(id);
    }
    if (@listAddress.Count() > 0)
        $('.address_dropdown')[0].onclick();
    else
        $('.address_other')[0].onclick();
    changeShipper();

    changeTotalAmount();
</script>
