@model IEnumerable<taka.Models.Enitities.TEA>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Takasa";

}
<style>
    .item-page {
        text-align: center;
        margin-bottom: 30px;
        padding: 10px;
        background-color: lightgray;
        color: black;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 5px;
        max-width: 50px;
    }
</style>

<div style="display:flex;flex-direction:row;">
    <div style="flex:1;min-width:160px">
        <div class="ml-3">
            <br />
            <h5>
                Giá
            </h5>
            <label>Từ</label>
            <input type="number" class="form-control price" value="@ViewBag.PriceFrom" />
            <label>Đến</label>
            <input type="number" class="form-control price" value="@ViewBag.PriceTo" />
            <p>
                <a href="#" onclick="getUrl({ priceFrom: $('.form-control.price')[0].value, priceTo:$('.form-control.price')[1].value })"
                   class="btn btn-light mt-1" style="background-color:#ee4d2d;color:white">
                    Xác nhận
                </a>
            </p>
            <h5>
                THỂ LOẠI
            </h5>
            @foreach (var cate in ViewBag.ListCate)
            {
                if (cate.ID == ViewBag.cate)
                {
                    <div class="list-group-item" style="border:0px;padding:10px">
                        <b style="color:#ee4d2d">@cate.NAME</b>
                        <a href="#" onclick="getUrl({ page: 1, cate:0 })" class="btn">
                            <ion-icon style="font-size:25px;text-align:center" name="close-circle-outline"></ion-icon>
                        </a>
                    </div>
                }
                else
                {
                    <a class="list-group-item" style="border:0px;padding:10px;color:dimgray" href="#" onclick="getUrl({ cate: '@cate.ID', page:1 })">@cate.NAME</a>
                }
            }
        </div>
    </div>
    <div style="background-color:#f5f5f5;width:15px"></div>
    <div style="flex:4;margin-left:15px">
        <div class="row col">
            <div class="mt-1">Sắp xếp theo</div>
            <div class="dropdown ml-3">
                <button class="btn dropdown-toggle" type="button" id="dropdownCate" data-toggle="dropdown">
                    <span>@ViewBag.TextSort</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" onclick="getUrl({ page: 1, sort: 0 })">@taka.Utils.C.DROPDOWN_SORT.NEWEST</a>
                    <a class="dropdown-item" href="#" onclick="getUrl({ page: 1, sort: 1 })">@taka.Utils.C.DROPDOWN_SORT.OLDEST</a>
                    <a class="dropdown-item" href="#" onclick="getUrl({ page: 1, sort: 2 })">@taka.Utils.C.DROPDOWN_SORT.LOWEST_PRICE</a>
                    <a class="dropdown-item" href="#" onclick="getUrl({ page: 1, sort: 3 })">@taka.Utils.C.DROPDOWN_SORT.HIGHEST_PRICE</a>
                </div>
            </div>

            <div class="dropdown ml-3">
                <button class="btn dropdown-toggle" type="button" id="dropdownPageSize" data-toggle="dropdown">
                    <span>@ViewBag.PageSize sản phẩm</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" onclick="getUrl({ page: 1, pageSize: 16 })">16 sản phẩm</a>
                    <a class="dropdown-item" href="#" onclick="getUrl({ page: 1, pageSize: 32 })">32 sản phẩm</a>
                    <a class="dropdown-item" href="#" onclick="getUrl({ page: 1, pageSize: 64 })">64 sản phẩm</a>
                </div>
            </div>

            @if (ViewBag.Sort != 0)
            {
                <a href="#" onclick="getUrl({ page: 1, sort: 0 })" class="btn">
                    <ion-icon style="font-size:25px;text-align:center" name="close-circle-outline"></ion-icon>
                </a>
            }


        </div>

        @if (Model.Count() == 0)
        {
            <div style="text-align:center;margin-top:200px;margin-bottom:300px" class="col">
                <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/4122b759f91bd8dce310f1bc691e78ad.png">
                <div class="product-not-exist__text">Không tìm thấy sản phẩm</div>
            </div>
        }
        else
        {
            <p class="mt-3">
                Trang @ViewBag.CurrentPage/@ViewBag.maxPage
            </p>
            for (int i = 0; i < ViewBag.PageSize / 4; i++)
            {
                <div class="row" style="margin-bottom:30px;display: flex;justify-content: center;align-items: center;">
                    @for (int j = 0; j < 4; j++)
                    {
                        try
                        {
                            var item = Model.ToArray()[i * 4 + j];
                            <a href="/Home/Detail?id=@item.ID" id="root_@item.ID" style="flex:1;min-width:200px; position: relative;margin:5px;padding:5px; text-decoration:none;border: 1px solid white" onmousemove="onMoveMouseItem('root_@item.ID')" onmouseout="onMoveOutMouseOfItem('root_@item.ID')">
                                <div>
                                    <p>
                                        <img src="@item.IMAGEs.First().URL" style="width:100% ;height:200px;object-fit:contain" />
                                    </p>
                                    <div style=" overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;height:50px;color:dimgray">
                                        @item.TITLE
                                    </div>
                                    <b style="font-size: 18px; color: #ee4d2d;">
                                        @String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0}", item.PRICE)đ
                                    </b>
                                    <div>
                                        <i style="font-size:14px;color:dimgray;text-decoration: line-through;">
                                            @String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0}", (double)item.PRICE * 1.5)đ
                                        </i>
                                    </div>
                                </div>
                                <div class="row ml-0 mt-1" style="color:lightgray">
                                    @for (int _ = 0; _ < item.RATEPOINT; _++)
                                    {
                                        <ion-icon style="color:#ffca00" name="star"></ion-icon>
                                    }
                                    @for (int _ = 0; _ < 5 - item.RATEPOINT; _++)
                                    {
                                        <ion-icon name="star"></ion-icon>
                                    }
                                    <div style="color:#ee4d2d;margin-top:-5px" class="ml-1">(@item.RATECOUNT)</div>
                                </div>
                            </a>
                        }
                        catch (Exception)
                        {
                        }
                    }
                </div>
            }
            <div class="row" style="width: 50%; margin: auto;justify-content:center">
                @if (@ViewBag.CurrentPage > 1)
                {
                    <a href="#" onclick="getUrl({ page: @ViewBag.CurrentPage-1 })" class="col item-page">
                        <ion-icon style="font-size:18px;margin-top:2px" name="chevron-back-outline"></ion-icon>
                    </a>
                }
                @if (@ViewBag.CurrentPage > 3)
                {
                    <a href="#" onclick="getUrl({ page: 1 })" class="col item-page">
                        1
                    </a>
                    <ion-icon style="font-size:18px;margin-top:12px" name="ellipsis-horizontal-outline"></ion-icon>
                }

                @foreach (int i in ViewBag.ListPage)
                {
                    if (i == ViewBag.CurrentPage)
                    {
                        <div class="col item-page" style="background:#ee4d2d;color:white;">
                            @(ViewBag.CurrentPage)
                        </div>
                    }
                    else
                    {
                        <a href="#" onclick="getUrl({ page: @i })" class="col item-page">
                            @i
                        </a>
                    }
                }

                @if (@ViewBag.CurrentPage <= (@ViewBag.maxPage - 3))
                {
                    <ion-icon style="font-size:18px;margin-top:12px" name="ellipsis-horizontal-outline"></ion-icon>
                    <a href="#" onclick="getUrl({ page: @ViewBag.maxPage })" class="col item-page">
                        @ViewBag.maxPage
                    </a>
                }
                @if (@ViewBag.CurrentPage < @ViewBag.maxPage)
                {
                    <a href="#" onclick="getUrl({ page: @ViewBag.CurrentPage+1 })" class="col item-page">
                        <ion-icon style="font-size:18px;margin-top:2px" name="chevron-forward-outline"></ion-icon>
                    </a>
                }

            </div>
        }
    </div>
</div>

<script>
    const onMoveMouseItem = (id) => {
        $('#' + id).css('border', '1px solid #ee4d2d')
    }
    const onMoveOutMouseOfItem = (id) => {
        $('#' + id).css('border', '1px solid white')
    }

     let getUrl = ({ page = '@ViewBag.Page',
        text = $(".form-control")[0].value,
        cate = '@ViewBag.Cate',
        sort = '@ViewBag.Sort',
        pageSize = '@ViewBag.PageSize',
        priceFrom = '@ViewBag.PriceFrom',
        priceTo = '@ViewBag.PriceTo' }) => {
        let url = `?page=${page}&text=${text}&cate=${cate}&sort=${sort}&pageSize=${pageSize}&priceFrom=${priceFrom}&priceTo=${priceTo}`
        window.location.href = url
    }
</script>
